* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    width: 350px;
    background-color: #172E35;
}

.entries {
    width: 100%;
    padding: 3px;
}

.entry {
    width: 100%;
    height: 30%;
    padding: 4%;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.loading, .noentry, .nopage, .blocked {
    width: 100%;
    height: 30%;
    padding: 4%;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-size: larger;
    color: #FFFFFF;
}

a {
    display: flex;
    justify-content: center;
    color: inherit;
    text-decoration: inherit;
}

.title a {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.submit {
    background-color: #FF4500;
    text-align: center;
    font-size: larger;
    color: #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
}

.score {
    color: #FFD635;
    padding-right: 3px;
}

.origin, .user, .comments {
    color: #BBC7CC;
    padding-right: 3px;
    padding-left: 3px;
}

.subtext {
    padding-top: 3px;
}